.peony-image-slider {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 750px;
  box-sizing: border-box;
  // 遮罩层
  .peony-image-slider__maskbox {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .7);
  }
  // 关闭
  .close {
    position: absolute;
    top: -50px;
    right: -50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    z-index: 1;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    background: #909399;
    i {
      position: absolute;
      left: 15px;
      bottom: 15px;
      display: inline-block;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-size: 28px;
      color: #f5f5f5;
    }
    // position: absolute;
    // top: -16px;
    // right: -16px;
    // display: inline-block;
    // width: 32px;
    // height: 32px;
    // z-index: 1;
    // line-height: 32px;
    // text-align: center;
    // border-radius: 50%;
    // font-size: 18px;
    // border: 2px solid #f5f5f5;
    // color: #f5f5f5;
    // background: #909399;
  }
  // 翻页
  .arrow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    // background: rgba(#000,.7);
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      width: 0;
    }
    i {
      display: inline-block;
      width: 50px;
      line-height: 50px;
      vertical-align: middle;
      font-size: 42px;
      font-weight: 900;
      color: rgba(#eaeaea, .7);
      text-align: center;
      &:hover {
        color: #fff;
        background: rgba(#000,.7);
      }
    }
  }
  .arrow-left { left: 0; }
  .arrow-right { right: 0; }
  .peony-image-magicbox {
    width: 75%;
    height: 98%;
    max-width: 1148px;
    max-height: 760px;
  }
}
